.g-table__cell {
  border-left: 3px black solid;
  border-bottom: 3px black solid;
  padding: 10px !important;
}

.g-table__table {
  border: 3px black solid;
  border-radius: 5px;
  border-left: 0;
}
